html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(28, 28, 71);
  color: white;
}

.App {
  display: grid;
  row-gap: 50px;
}
.content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.panel {
  display: grid;
  row-gap: 50px;
}
@keyframes drop {
  from {
    top: -1000px;
  }
  to {
    top: 0px;
  }
}
.salad,
.tomato,
.onion,
.meat,
.cheese {
  position: relative;
  animation-name: drop;
  animation-duration: 0.3s;
}

.burguer-side {
  display: grid;
  grid-template-rows: 30px auto;
  row-gap: 30px;
  justify-items: center;
  justify-content: center;
}
.save-burguer {
  background-color: transparent;
  width: 200px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  font-size: large;

  box-shadow: 0 5px #999;
}

.save-burguer:focus {
  outline-width: 0;
}
.save-burguer:active {
  background-color: rgb(90, 0, 194);
  box-shadow: 0 5px #666;
  opacity: 1;
  transform: translateY(4px);
}

.currency-select {
  justify-items: center;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}
.currency-select label {
  font-size: x-large;
}
select {
  border: #f2f2f2;
  color: white;
  border-bottom: 2px solid white;
  width: 25%;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
option {
  background-color: transparent;
  color: black;
}
select:focus {
  outline-width: 0;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
